body {
    font-family: $fontMontserrat;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: $mainColor;
    background-color: $mainBackgroundcolor;
    margin-top: 96px;

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        font-weight: 600;
    }

}