footer {

    .bg-custom {
        background-color: $secondaryColor;
    }

    .text-custom {
        color: white;
    }

    .container-fluid {

        h4 {
            color: white;
        }
        p {
            color: white;
            font-size: 17px;
        }
    }
}