@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$fontMontserrat: "Montserrat", sans-serif;

$mainColor: #3F3F3F;

$mainBackgroundcolor: white;

$secondaryColor: #DF0000;